extends template

block content
  .page-wrapper
    .container
      h1 Welcome to our Stock Predictor App
      p.subtitle Please register an account or login below.
      .buttons
        a.button(href="/login") Login
        a.button(href="/signup") Signup
