extends template

block content
  .page-wrapper
    .container
      h1 Log in to Your Account
      form(action="/api/login" method="POST" class="form")
        .form-query
          label(for="username") Username:
          input(type="text" id="username" name="username" required)
        .form-query
          label(for="password") Password:
          input(type="password" id="password" name="password" required)
        .form-submit
          button(type="submit" class="button") Login
      .signup-link
        p
          | Don't have an account?
          a(href="/signup") Sign up here.
