extends template

block content
  .page-wrapper
    .container
      h1 Create a New Account
      form(action="/api/signup" method="POST" class="form")
        .form-group
          label(for="username") Username
          input(type="text" id="username" name="username" required)
        .form-group
          label(for="password") Password
          input(type="password" id="password" name="password" required)
        .form-group
          button(type="submit" class="button") Sign Up
      .login-link
        p
          | Already have an account?
          a(href="/login") Login here.
