extends template 

block content 
    h2 Welcome, #{userID.username}
    p This is Our stocks viewing page 
    p Here you can view all your analysis and predictions as well as the final stock value in one year.
    div#history-container Loading stock data...
    script(src="../historyPrint.js")