extends template

block content
  .page-wrapper
    .container
      h1 Stock Predictor Lookup
      form(id="stockForm")
        .form-group
          label(for="ticker") Enter Stock Ticker:
          input(type="text" id="ticker" name="ticker" required placeholder="e.g., AAPL")
        .form-group
          button(type="submit" class="button") Predict Stock

      //- Loading message (will be inserted via JS)

      //- Charts
      #charts-container(style="margin-top: 50px; display: none;")
        h2 Actual Stock Prices (Past Year)
        svg#actualChart(width="800", height="400")
        h2 Predicted Stock Prices (Next 6 Months)
        svg#futureChart(width="800", height="400")

        button#deepSearchBtn(style="margin-top: 30px; display: none;") Perform Deep Search
        #deepSearchResult(style="margin-top: 20px; display: none;" class="deep-search-output")


  // Load D3.js
  script(src="https://d3js.org/d3.v7.min.js")
  script(src="/scripts/stocklookup.js")
