extends template

block content
  .page-wrapper
    .container
      h1 Stock Predictor Lookup
      form(id="stockForm")
        .form-group
          label(for="ticker") Enter Stock Ticker:
          input(type="text" id="ticker" name="ticker" required placeholder="e.g., AAPL")
        .form-group
          button(type="submit" class="button") Predict Stock
      .result-table-container
        table#resultsTable(style="display: none; margin-top: 30px; width: 100%")
          thead
            tr
              th Field
              th Value
          tbody
  script(src="/scripts/stocklookup.js")
