body
  header
    link(rel="stylesheet", href="/stylesheets/style.css")
    h1 Stock Predictor App 
    nav.navbar
      ul
        li
          a(href="/") Home
        li
          a(href="/stocklookup") Stock Lookup  
        li
          a(href="/stocks") Stocks
        li
          a(href="/account") Account

  block content

  footer
    p © 2025 Stock Predictor. Marcos Morales, Seven Aguirre. All rights reserved.
